.footer {
  box-sizing: border-box;
  background: linear-gradient(180deg, #0a2850 0%, #071931 100%);
  color: #fff;
  padding: 60px 80px;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
}

.footer__content {
  display: flex;
  justify-content: space-between;
}

.footer__logo {
  width: 105px;
  height: 39px;
}

.footer__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer__list-item {
  margin: 0 0 16px;
}

.footer__list-item:last-child {
  /* FYI..In the first review this was approved and showed good,
in the last review you asked to take it out,
now you are asking me to put it back in. I'm guessing this is the process but my
deadline is the 30th and I will need to do a second request to continue it,
I'm going to need the review to wrap up prior to that. Is it possible to get it done all in one. All the mistakes or changes in one review? Thanks. */
  margin: 0;
}

.footer__social-heading {
  margin: 0 0 20px;
  text-decoration: none;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
}

.footer__social-link {
  color: white;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  display: flex;
  gap: 10px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
}

.footer__social-link:hover {
  color: #c1c1c1;
  cursor: pointer;
  transition: color 1s;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  margin: 0;
}

.footer__copyright {
  margin: 108px 0 0;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}
