.form {
  max-width: 385px;
  padding: 0;
}

.form__fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

.form__label {
  display: block;
  padding: 0;
  margin-bottom: 32px;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  font-style: normal;
}

.form__input {
  margin-top: 8px;
  display: block;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  height: 60px;
  border-radius: 4px;
  font-family: "Inter", Arial, sans-serif;
  font-size: 20px;
  line-height: 30px;
  border-style: solid;
  color: #838383;
  border-color: #838383;
}

.form__button {
  width: 100%;
  height: 60px;
  padding: 0;
  margin-bottom: 32px;
  border-radius: 4px;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  background-color: #2f80ed;
  border: 0;
  color: #ffffff;
}
.form__button:hover {
  opacity: 70%;
}

.form__checkbox {
  border-radius: 2px;
  background-color: #2f80ed;
  background-image: url(../images/check.svg);
  width: 20px;
  height: 20px;
}

.form__label_type_checkbox {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}
