.nav {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  height: 39px;
  width: 108px;
  margin: 30px 0 0 30px;
}

.nav__links {
  display: flex;
  column-gap: 20px;
  padding: 0;
  list-style-type: none;
  margin: 30px 0 0 80px;
}

.nav__link {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  text-decoration: none;
}

.nav__link:link,
.nav__link:visited {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  color: #000000;
}

.nav__link:hover {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  color: #2f80ed;
  transition: color 1s;
}
